  <table align='center' border='2'>
  <tr><td>Student Name: a</td></tr>
  <tr><td>Student Id:.1</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr><td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>23</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>78</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>76</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: y</td></tr>
  <tr><td>Student Id:.34</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr><td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>89</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>45</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: a</td></tr>
  <tr><td>Student Id:.3</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr><td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>67</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr><td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr><td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td>fjhgh</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td></td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td></td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td></td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: b</td></tr>
  <tr><td>Student Id:.67</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td>C</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td>A</td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: r</td></tr>
  <tr><td>Student Id:.45</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>45</td>
            <td>C</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>90</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>English</td>
            <td>78</td>
            <td>A</td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: </td></tr>
  <tr><td>Student Id:.</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td></td>
            <td>A+</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>0e3222222222</td>
            <td>F</td>
        </tr>
        <tr>
            <td>English</td>
            <td>3222</td>
            <td>A+</td>
        </tr>
</table>  <table align='center' border='2'>
  <tr><td>Student Name: fdggfdas</td></tr>
  <tr><td>Student Id:.32151</td></tr>
  </table><br>

<table align='center' border='2'>
        <tr>
            <td> Subject</td>
             <td>Obtained Mark</td>
             <td>Grade</td>
        </tr>
        <tr>
            <td>Bangla </td>
            <td>3426</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>Mathematics</td>
            <td>316</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>English</td>
            <td>34</td>
            <td>C</td>
        </tr>
</table>